/* :root {
    --main-color: green;
    --color-success: rgb(8, 44, 8);
    --color-warn: rgb(150, 150, 12);
    --color-danger: rgb(86, 0, 0);
}
body {
    font-family: sans-serif;
}
.box1, .box2, .box3 {
    width: 200px;
    height: 200px;
}
.box1 {
        background-color: var(--color-danger);}
.box2{
    background-color: var(--color-success);
}
.box3 {background-color: var(--color-warn);}
.row {
    display: flex;
} */
.row {
    display: flex;
}
.col-6 {
    width: 50%;

}
.red {
    height: 300px;
    background-color: red;

}
.col-6 
{
    width: 50%;
}
.blue {
    height: 300px;
    background-color: blue;

}
.phones__row 